
.spac{
    margin-left: 15px;
}
.navbar-custom{
  background-color: #007bff; /*Navbar background color*/
  /* color: white; */
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-toggler-icon
{ 
  color: white; /* Text and anchor color */
}
.navbar-custom .dropdown-item {
    color: lightgray; /* Text and anchor color for dropdown menu */
}
.navbar-custom .nav-link:hover,
.navbar-custom .dropdown-item:hover{
    color: black; /* Hover color */
}
.skater-body{
  background-color: gray;
  
}
.heading{
  text-align: center;
  margin-top: 15%;
  font-size: 80px;
  font-family: 'Times New Roman', Times, serif
}
.start-year{
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.carousel{
  max-width: 400px;
  margin: 0 auto;
}
.carousel-item img{
  max-width: 100%;
  height: auto;
}
.center{
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  margin-top: 2%; 
  text-align:center;
}
.img-container1{
  display: flex;
}
.cool-stuff
{
  margin-top: 5%;
  background-color:  red;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 200px;
  text-align: center;
  display: block;
  margin-top: 3%;
  margin-left: 25%;
  margin-right: 15%;
  margin-bottom: 5%;
}
.para{
  margin-top: 5px;
}
.laptop-accessories{
  max-width: 400px;
  height: auto;
  margin-left: 20px;
}
.logo{
  max-width: 300px;
  height: auto;
  margin-left: 20px;
}

.bottom{
  background-color: lavenderblush ;
  display: block;
}
.img-container2{
  display: flex;
  margin-top: 1%;
}
.lap{
  max-width: 300px;
  height: auto;
  margin-left: 25px;
  margin-top: 5%;
}
.mobile{
  max-width: 300px;
  height: auto;
  margin-left: 25px;
  margin-top: 5%;
}
.access{
  max-width: 300px;
  height: auto;
  margin-left: 25px;
  margin-top: 5%;
}
.btn-container  {
  display: flex;
}
.laptop
{
  margin-top: 15px;
  background-color:  red;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 300px;
  text-align: center;
  display: block;
  margin-left: 10%;
  margin-right: 25px;  
  margin-bottom: 5%;
}
.phone
{
  margin-top: 15px;
  background-color:  red;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 300px;
  text-align: center;
  display: block;
  margin-left: 20%;
  margin-right: 40px;
  margin-bottom: 5%;  
}
.accessories{
  margin-top: 15px;
  background-color:  red;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 300px;
  text-align: center;
  display: block;
  margin-left: 20%;
  margin-right: 40px;
  margin-bottom: 5%;
}
.footer-1{
  background-color: #333;
}
.logo1{
  text-align: center;
  margin-top: 2rem;
  margin-left: 24rem;
  margin-bottom: 2rem;
  margin-right: 3rem; 
}
.logo2{
  text-align: center;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  
}
.connect{
  color: black;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.copyright{
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  text-align: center;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}  
