
.spac{
    margin-left: 15px;
}
.navbar-custom{
  background-color: #007bff; /*Navbar background color*/
  /* color: white; */
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-toggler-icon
{ 
  color: white; /* Text and anchor color */
}
.navbar-custom .dropdown-item {
    color: lightgray; /* Text and anchor color for dropdown menu */
}
.navbar-custom .nav-link:hover,
.navbar-custom .dropdown-item:hover{
    color: black; /* Hover color */
}
.skater-body{
  background-color: gray;
  
}
.heading{
  text-align: center;
  margin-top: 15%;
  font-size: 80px;
  font-family: 'Times New Roman', Times, serif
}
.start-year{
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.carousel{
  max-width: 400px;
  margin: 0 auto;
}
.carousel-item img{
  max-width: 100%;
  height: auto;
}
.center{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: lightgrey;
  margin-top: 5%;
  text-align:center;
}
.cool-stuff{
  margin-top: 10%;
  background-color:  red;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 200px;
  text-align: center;
  display: block;
  margin-left: 40%;
  margin-right: 40%;
}
.laptop-accessories{
  max-width: 400px;
  height: auto;
}
.logo{
  max-width: 300px;
  margin: auto;
  margin-left: 65%;
}
.para2{
  margin-top: 2%;
}